/*	
	Dies ist die css-Datei, in der das Layout des Petrinetz-Graphen beschrieben ist.
*/


/*
	Style-Angabe für den Graphen
*/

graph {
	padding: 40px;

}

/*
	Style-Angabe fuer einen Knoten
*/

node {
	size: 25px;
	/*
	text-background-color: white;
	text-background-mode: plain;
	*/	
	text-mode: normal;
	text-color: #1A130E;
	text-size: 11;
	text-alignment: above;
}


/*
   zusaetzliche Attribute fuer eine Stelle mit ensprechenden Marken
*/
node.field0 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_0.png');
}
node.field1 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_1.png');
}
node.field2 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_2.png');
}
node.field3 {
	fill-mode: image-scaled;
	fill-image: url("graphimages/field_3.png");
}
node.field4 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_4.png');
}
node.field5 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_5.png');
}
node.field6 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_6.png');
}
node.field7 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_7.png');
}
node.field8 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_8.png');
}
node.field9 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_9.png');
}
node.fieldgreater9 {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_groesser_9.png');
}

/*
Zusätzliche Attribute für markierte  Stellen
*/
node.field0m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_0_m.png');
}
node.field1m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_1_m.png');
}
node.field2m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_2_m.png');
}
node.field3m {
	fill-mode: image-scaled;
	fill-image: url("graphimages/field_3_m.png");
}
node.field4m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_4_m.png');
}
node.field5m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_5_m.png');
}
node.field6m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_6_m.png');
}
node.field7m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_7_m.png');
}
node.field8m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_8_m.png');
}
node.field9m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_9_m.png');
}
node.fieldgreater9m {
	fill-mode: image-scaled;
	fill-image: url('graphimages/field_groesser_9_m.png');
}
/*
   zusaetzliche Attribute fuer einen Knoten des Typ Transition mit Information ist geschaltet
*/

node.transition_active {
	size: 22;
	shape: rounded-box;
	fill-mode: image-scaled;
	fill-image: url('graphimages/transition_active.png');
}

node.transition_inactive {
	size: 22;
	shape: rounded-box;
	fill-mode: image-scaled;
	fill-image: url('graphimages/transition_inactive.png');
}


/*
	Style-Angabe fuer eine Kante
*/
edge {
	fill-color: darkgrey;
	arrow-shape: arrow;
	arrow-size: 9px, 6px;
	text-size:  10;
	text-color: #0E0F1F;
	text-background-color: white;
	text-background-mode: plain;
}